<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
	
	<!-- 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="kr.co.mini.project.user.entity.User" alias="User"/>
		<typeAlias type="kr.co.mini.project.board.entity.BoardDetail" alias="BoardDetail"/>
	  <typeAlias type="kr.co.mini.project.board.entity.Board" alias="Board"/>
		<typeAlias type="kr.co.mini.project.comment.entity.Comment" alias="Comment"/>

		<typeAlias type="kr.co.mini.project.board.dto.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="kr.co.mini.project.board.dto.BoardWithDetailDTO" alias="BoardWithDetailDTO"/>
		<typeAlias type="kr.co.mini.project.board.dto.BoardWithDetailAndComments" alias="BoardWithDetailAndComments"/>
		<typeAlias type="kr.co.mini.project.comment.dto.CommentDTO" alias="CommentDTO"/>
	</typeAliases>
	
</configuration>