<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="dynamicTable(columns, rows, isManageColumn, baseUrl)">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th th:each="col : ${columns}" 
                      th:class="${col.headerAlign != null} ? 'text-' + ${col.headerAlign} : 'text-center'"
                      th:with="isManageHeader=${col.title == '관리'}"
                      th:style="${isManageHeader ? 'width: 200px' : ''}">
                      <i th:if="${isManageHeader}" class="bi bi-gear"></i>
                      <span th:text="${col.title}"></span>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : ${rows}">
                    <td th:each="col : ${columns}" 
                        th:class="${col.textAlign != null} ? 'text-' + ${col.textAlign} : 'text-center'">
                        
                        <th:block th:if="${col.field == 'isCompleted'}">
                            <span th:if="${row[col.field]}" class="badge bg-success">완료</span>
                            <span th:unless="${row[col.field]}" class="badge bg-warning">미완료</span>
                        </th:block>
                        
                        <th:block th:if="${col.field == 'manage' && isManageColumn}">
                            <a th:href="@{${baseUrl + '/edit'}(id=${row.id})}" 
                               class="btn btn-info btn-sm">수정</a>
                            <button class="btn btn-danger btn-sm"
                                    th:onclick="'handleDeleteClick(' + ${row.id} + ')'">
                                삭제
                            </button>
                        </th:block>
                        
                        <th:block th:if="${col.field != 'isCompleted' && col.field != 'manage'}" 
                                 th:text="${row[col.field]}">
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>