<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mini.project.board.dao.BoardDAO">
    <select id="findAllBoardsWithDetails" resultType="BoardWithDetailDTO">
        SELECT 
            b.id AS boards_num,
            bd.content AS content,
            u.name AS user_name,
            b.created_at,
            b.updated_at
        FROM boards b
        LEFT JOIN users u ON b.user_id = u.id
        LEFT JOIN board_detail bd ON b.id = bd.boards_id
    </select>

    <select id="findBoardWithDetailsAndComments" resultType="BoardDTO">
        SELECT 
            b.id AS boards_num,
            bd.content AS board_content,
            u.name AS board_creator_name,
            c.comment,
            c.created_at AS comment_created_at,
            cu.name AS commenter_name
        FROM boards b
        LEFT JOIN users u ON b.user_id = u.id 
        LEFT JOIN board_detail bd ON b.id = bd.boards_id
        LEFT JOIN comments c ON bd.boards_id = c.board_detail_id  
        LEFT JOIN users cu ON c.user_id = cu.id  
        WHERE b.id = #{id}
    </select>

    <insert id="save" parameterType="Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards (user_id) VALUES (#{userId})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM boards WHERE id = #{id}
    </delete>
</mapper>